
{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        {% if message != '' %}
            <div class="row mt-5 pt-3 justify-content: center;">
            <h5 class="card-title text-center">{{ messages }}Thank You For Taking  A Tour Take Another one It's Free </h5>
        </div>
        {% endif %}
        <div class="row mt-5 pt-3 justify-content: center;">
            <div class="col-sm-9 col-md-5 col-lg-5 p-0">
                <div class="card form-card1 shadow-lg">
                    <div class="photo"></div>
                    <h5 class="card-title text-center">Discover The History With Us</h5>
                    <div class="card-body">
                        <strong class="pl-3"> How To Make A Tour In Our Tunnel</strong>
                        <ul class="p-3">
                            <li> - First Of All You Have To Choose The Region  You Want To Discover.</li>
                            <li> - <i>(Optinal)</i> You Can Travel To a Specific Period.</li>
                            <li> - And Of Course Click on <i>Let's Go</i></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-md-5 col-lg-5 p-0">
                <div class="card form-card2 shadow-lg">
                    <div class="photo"></div>
                    <div class="card-body">
                        <form action="/art/initiate/" method="POST" id="regionform">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Select Region</label>
                                <select class=" shadow-lg form-control form-control-lg" id="region" name="region" form="regionform">
                                    {% for region in regions %}
                                        <option value="{{ region }}">{{ region }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Select Period</label>
                                <select class=" shadow-lg form-control form-control-lg"class="form-control form-control-lg" id="period" name="periodBegin" form="regionform">
                                    {% for key in periods|keys %}
                                        <option value="{{ key }}">{{ key }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class=" shadow-lg btn btn-primary mx-auto">Let's Go</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

