{% extends 'layout.html.twig' %}

{% block title %}{{ location }} | {{ current }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row no-gutters justify-content-center align-items-center my-3 mx-2 mx-lg-0 font-first">
            <h1>{{ location }} </h1>
            <img id="flag" class="ml-3" src="/assets/images/{{ location }}-flag.png" alt="{{ location }} Flag">
            <div class="col-11 col-lg-12 progress">
                {% if current == "Antiquity" %}
                    <div class="progress-bar bg-primary font-white" role="progressbar" style="width: 69%;" aria-valuenow="69" aria-valuemin="0" aria-valuemax="100">Antiquity</div>
                {% elseif current == "MiddleAge" %}
                    <div class="progress-bar bg-success font-second" role="progressbar" style="width: 89%;" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100">Middle Age</div>
                {% elseif current == "Modern" %}
                    <div class="progress-bar bg-warning font-first" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">Modern</div>
                {% elseif current == "Contemporary" %}
                    <div class="progress-bar bg-danger font-white" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Contemporary</div>
                {% endif %}

            </div>
        </div>
        <div class="row justify-content-center">
            <div id="carouselArt" class="carousel slide shadow-lg" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for artwork in artworks %}
                    <li data-target="#carouselArt" data-slide-to="{{ loop.index-1 }}" {% if loop.index == 1%} class="active"{% endif %}"></li>
                    {% endfor %}
                </ol>

                <div class="carousel-inner">
                    {% for artwork in artworks %}
                    <div class="carousel-item {% if loop.index == 1%}active{% endif %}">
                        <div class="d-flex justify-content-center">
                            <a href="{{ artwork.objectURL }}" rel="noopener noreferrer" target="_blank"><img src="{{ artwork.primaryImage }}" class="d-block" alt="{{ artwork.title }}"></a>
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ artwork.title }}</h5>
                            <p>Given by {{ artwork.creditLine }}</p>
                        </div>
                        <blockquote class="carousel-caption blockquote text-center d-block d-lg-none">
                            <p class="mb-0">{{ artwork.title }}</p>
                            <footer class="blockquote-footer">Given by <cite title="Source Title">{{ artwork.creditLine }}</cite></footer>
                        </blockquote>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselArt" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselArt" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="row justify-content-center my-3">
            <a href="{{ target }}" alt="" class=" shadow-lg btn bg-first font-fourth">{% if target != '/art/end' %}Next period{% else %}End the journey{% endif %}</a>
        </div>
    </div>
{% endblock %}